---
layout: base.html
---
<header>
	<div class="home-header--inner">
		<div class="home-header--title">
			<h1>Travis P</h1>
			<p>Guitarist & Musician</p>
		</div>

		<div class="home-header--nav">
			<nav aria-label="main">
				<ul>
					{% for item in navigation.items %}
						<li><a href="{{ item.url }}">{{ item.text }}</a></li>
					{% endfor %}
				</ul>
			</nav>

			<nav aria-label="social">
				<ul>
					{% for item in metadata.social %}
						<li>
							<a href="{{ item.url }}" aria-label="{{ item.label }}">
								{{ icons[item.slug] }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>

		<img class="home-header--image" src="/assets/img/travis.png" alt="Travis Phillips playing guitar">
	</div>
</header>

<main id="skip">
	<article>
		{% if content %}
			<section>
				<div class="container">
					{{ content }}
				</div>
			</section>
		{% endif %}

		{% for post in collections.all %}
			{% if post.data.summary %}
				<section>
					<div class="container">
						<h2>{{ post.data.title }}</h2>
						<p>{{ post.data.summary }}</p>
						

						{% if post.data.title == 'Events' %}
							{% for post in collections.event %}
								{% include "./partials/event.html" %}
							{% endfor %}
						{% endif %}

						<a href="{{ post.url }}" class="button">{{ post.data.title }}</a>
					</div>
				</section>
			{% endif %}
	  	{% endfor %}
	</article>
</main>
