---
layout: base.html
---
<header>
	<div class="home-header--inner">
		<div class="home-header--title">
			<h1>Travis P</h1>
			<p>Guitarist & Musician</p>
		</div>
		
		<img class="home-header--image" src="/assets/img/travis.jpg" alt="Travis Phillips playing guitar">

		<nav class="home-header--nav">
			{{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}
		</nav>
	</div>
</header>

<main id="skip">
	<article>
		{% if content %}
			<section>
				<div class="container">
					{{ content }}
				</div>
			</section>
		{% endif %}

		{% for post in collections.all %}
			{% if post.data.summary %}
				<section>
					<div class="container">
						<h2>{{ post.data.title }}</h2>
						<p>{{ post.data.summary }}</p>
						<a href="{{ post.url }}" class="button">{{ post.data.title }}</a>
					</div>
				</section>
			{% endif %}
	  	{% endfor %}
	</article>
</main>
