@font-face {
    font-family: 'AesthetNova';
    src: url('../fonts/AesthetNova-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AesthetNova';
    src: url('../fonts/AesthetNova-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AesthetNova';
    src: url('../fonts/AesthetNova-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

