@import "fonts";

$white: #fff;
$blue: #9BCDBD;
$dark-blue: #2E564A;
$orange: #D2804E;
$black: #171717;
$charcoal: #2D2D2D;
$light-grey: #f4f4f4;

$aesthet: "AesthetNova", serif;

body {
    margin: 0;
    padding: 0;
    background-color: $charcoal;
    color: $light-grey;
    line-height: 1.5;
    font-family: $aesthet;
    font-size: clamp(1.25rem,2vw,1.375rem);
    -webkit-font-smoothing: antialiased;
}

a {
    color: $blue;

    &:hover, &:focus, &:active {
        color: $orange;
        text-decoration-color: currentColor;
    }
}

img {
    max-width: 100%;
} 

p {
    margin-top: 0;
}

h1 {
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 900;
    line-height: 1;
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    color: $blue;
}

h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: $blue;
}

h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: $blue;
}

h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: $blue;
}


iframe {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

main {
    display: grid;
    align-self: flex-end;
    align-items: center;
}

.button {
    margin-bottom: 1rem;
    padding: .75rem 1rem;
    background-color: $blue;
    border: 2px solid $blue;
    border-radius: .25rem;
    text-decoration: none;
    font-weight: bold;
    color: $charcoal;
    transition: all .3s;

    &:hover, &:active, &:focus {
        background-color: transparent;
        color: $blue;
    }
}

.container {
    padding: 4rem 1rem;

    @media (min-width: calc(800px + 1rem)) {
        max-width: 800px;
        margin: 0 auto;
    }
}

header {
    background-color: $black;
    background-image: url("../img/dust.png");
    background-position: top -572px left;
}

.site-header--inner {
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: auto auto;
    padding: 3rem 0;
    align-items: center;
    text-align: center;

    @media (min-width: calc(900px + 1rem)) {
        grid-template-columns: max-content 1fr max-content;
        grid-template-rows: auto;
        margin: 0 auto;
        max-width: 900px;
        text-align: left;
    }

    nav {
        @media (min-width: calc(900px + 1rem)) {
            text-align: right;
        }
    }
}

.site-title {
    margin: 0;
    font-weight: 900;
    line-height: 1;
    font-size: 2.5rem;
    order: -1;
    text-decoration: none;
    margin-bottom: calc(2em + .5rem);
    text-shadow: 0 1em $orange, 0 2em $white;
}

.site-hero img {
    display: block;
    aspect-ratio: 1400 / 200;
}

nav {
    order: -1;
    font-weight: bold;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin: 0;
        padding: 0;
        list-style: none;

        @media (min-width: calc(900px + 1rem)) {
            justify-content: flex-end;
        }
    }

    li {
        list-style: none;
    }

    a {
        text-transform: uppercase;
        text-decoration: none;

        &:hover, &:focus, &:active {
            text-decoration: underline;
        }
    }

    img {
        display: block;
    }
}

footer {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: $black;

    p:last-child {
        margin-bottom: 0;
    }
}

.home-header--inner {
    display: grid;
    grid-gap: 2rem;
    margin-bottom: 3rem;
    padding: 3rem 0 4rem 0;

    @media (min-width: calc(900px + 1rem)) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content auto;
        margin: 0 auto;
        max-width: 800px;
    }
}

.home-header--nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 2rem;
    margin-bottom: 2rem;
    order: -1;

    @media (min-width: calc(900px + 1rem)) {
        grid-column: 1 / span 2;
        justify-content: space-between;
    }
}

.home-header--title {
    align-self: center;
    text-align: center;

    @media (min-width: calc(900px + 1rem)) {
        margin-right: auto;
    }
    
    h1 {
        margin-bottom: calc(2em + .5rem);
        text-shadow: 0 1em $orange, 0 2em $white;
    }

    p {
        margin-bottom: 0;
    }
}

section {
    padding: 3rem 0;

    p {
        margin-bottom: 2rem;
    }
}


.event {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    @media (min-width: calc(900px + 1rem)) {
        align-items: center;
    }
}

.event-moday {
    background-color: $blue;
    padding: .25rem;
    aspect-ratio: 1 / 1;
    width: 75px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    line-height: 1;
    font-size: 1.5rem;
    text-transform: uppercase;

    @media (min-width: calc(900px + 1rem)) {
        width: 100px;
        padding: .5rem;
        font-size: 2rem;
    }
}

.event-moday--day {
    font-weight: 900;
    font-size: 1.5em;
}

.visually-hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
